table{
    border: 1px solid;
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: #D2C7C2 ;
}       



td:hover{ 
    color:black ;
}


th{
    color:black;
}

#metals{
    background-color: #F074CA;
}

#trans{
    background-color: #74C1F0 ;
}

#gases{
    background-color: #DCCD10 ;
}

#lanth{
    background-color: brown;
}